.cartIcon img {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 7px;
}

.cartCount {
    float: right;
    color: #ffffff;
    width: 18px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    background: #ff0000;
    font-size: 12px;
    padding-top: 2px;
}