.price-detail-cart {
    border: 1px solid #cccccc;
    clear: both;
}

.price-detail-cart>div {
    padding: 10px;
}

.label {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    color: #cccccc;
}

.total {
    border-top: 1px solid #cccccc;
}

.clear-both {
    clear: both;
}

.right {
    float: right;
}

.continue-shopping{
    text-align: center;
    padding: 20px;
}