.cart-main-container {
    padding: 20px 0px;
}

.cart-main-container>div {
    float: left;
}

.cart-main-container .left-container {
    width: 70%;
}

.cart-main-container .right-container {
    width: 30%;
}