.header {
    background-color: #4269EA;
    padding: 15px 20px;
    height: 30px;
}

.header>div {
    float: left;
}

.header .icon {
    width: 5%;
}

.header .search-bar {
    width: 90%;
}

.header .cart-icon {
    width: 5%;
}