.cart-item {
    min-height: 160px;
    clear: both;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 0px 10px 10px 0px;
}

.cart-item>div {
    width: 25%;
    float: left;
}

.cart-item img {
    height: 150px;
    width: 150px;
}

.clear-both {
    clear: both;
}

.product-name {
    padding-top: 40px;
}

.product-quantity {
    padding: 70px 0px;
    cursor: pointer;
}

.product-remove {
    padding: 80px 0px;
    cursor: pointer;
}


.price-details-cart {
    padding-top: 15px;
}

.price-details-cart>span {
    padding-right: 5px;
}

.actual-price {
    color: gray;
}

.discount {
    color: #3BB03D;
}

.product-quantity>span {
    padding: 6px 12px;
    margin: 0px 5px;
}

.minus,
.plus,
.quantity {
    background-color: #fff;
    border: 1px solid #cccccc;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.minus,
.plus {
    border-radius: 50%;
    color: #cccccc;
}

@media only screen and (max-width:768px) {
    .cart-item>div {
        width: 50%;
    }

    .product-quantity {
        padding: 5px 0px;
    }

    .product-remove {
        padding: 5px 0px;
    }

    .product-name,
    .price-details {
        padding: 10px 0px;
    }

    .cart-item {
        margin: 10px 0px;
    }
}