.cartItem>div {
    width: 18%;
    height: 300px;
    margin: 2px;
    float: left;
}

.cartItem {
    clear: both;
}

@media only screen and (max-width:768px) {
    .cartItem>div {
        width: 40%;
        margin: 5px;
        height: 325px;
    }
}