.searchIcon>div {
    float: right;
}

.searchIcon img {
    width: 24px;
    height: 24px;
    margin-top: 7px;
}

.searchIcon input {
    margin: 2px 10px;
    border-radius: 25px;
    padding: 5px 10px;
}