.sort .desktop-sort span {
    padding-right: 25px;
    cursor: pointer;
}

.sort-active {
    color: #4269EA;
    text-decoration: underline;
}

.icon img {
    width: 32px;
    height: 32px;
}

@media only screen and (max-width:768px) {
    .desktop-sort {
        display: none;
    }
}